<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>첫째날</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>자동화</td>
        <td><a href="http://aispiration.com/shell-novice-kr/" target="_blank">유닉스 쉘</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>버전제어와 협업</td>
        <td><a href="http://aispiration.com/git-novice-kr/" target="_blank">Git으로 버전제어</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>둘째날</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>데이터 과학 프로그래밍</td>
        <td><a href="http://aispiration.com/r-gapminder-kr/" target="_blank">재현가능한 과학적 분석을 위한 R</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>오픈 통계 패키지</td>
        <td><a href="https://r2bit.com/Rcmdr/" target="_blank">RCmdr</a> /
            <a href="http://r2bit.com/" target="_blank">BitStat</a></td>
      </tr>
    </table>
  </div>
</div>

