{% comment %}
Astronomy workshops
{% endcomment %}


{% if site.curriculum == "dc-astronomy" %}

<p id="who">
  <strong>Who:</strong>
This lesson assumes you have a working knowledge of Python and some previous exposure to the Bash shell.
  These requirements can be fulfilled by:
  a) completing a Software Carpentry Python workshop or
  b) completing a Data Carpentry Ecology workshop (with Python) and a Data Carpentry Genomics workshop or
  c) independent exposure to both Python and the Bash shell.

If you’re unsure whether you have enough experience to participate in this workshop, please read over
  <a href="https://datacarpentry.org/astronomy-python/prereqs/">this detailed list</a>,
  which gives all of the functions, operators, and other concepts you will need to be familiar with.

In addition, this lesson assumes that learners have some familiarity with astronomical concepts,
  including reference frames, proper motion, color-magnitude diagrams, globular clusters, and isochrones.
  Participants should bring their own laptops and plan to participate actively.
</p>

{% comment %}
All other workshops
{% endcomment %}

{% else %}

<p id="who">
  <strong>워크샵 참여 대상:</strong>
  대전에 거주하는 대학원생과 연구원, 데이터 과학 실무자를 목표로 개발된 과정입니다..
  <strong>
    워크샵에 참석하는데 특별히 요구되는 사전 지식은 없다.
  </strong>
</p>

{% endif %}
